In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("WhatsApp Chat with VASTHUPARAM.txt",header=None,on_bad_lines='skip',encoding='utf8')

In [3]:
df

,0,1,2,3
0,24/11/25,7:24 pm - Messages and calls are end-to-end e...,listen to,or share them. Learn more.
1,24/11/25,"7:24 pm - Vasthuparam created group ""VASTHUPA...",NaN,NaN
2,24/11/25,7:24 pm - Vasthuparam added you,NaN,NaN
3,24/11/25,7:25 pm - Vasthuparam added Kalaiarasan,NaN,NaN
4,24/11/25,7:25 pm - Vasthuparam turned on admin approva...,NaN,NaN
...,...,...,...,...
563,06/02/26,2:10 pm - Kavithajio: Hi,NaN,NaN
564,06/02/26,2:12 pm - Vasthuparam: <Media omitted>,NaN,NaN
565,06/02/26,2:12 pm - Vasthuparam: <Media omitted>,NaN,NaN
566,06/02/26,2:14 pm - Kavithajio: Ok.. small change as di...,NaN,NaN
567,06/02/26,4:51 pm - Vasthuparam: <Media omitted>,NaN,NaN

In [4]:
df=df.drop(index=0)

In [5]:
df=df.drop(columns=[2,3])

In [6]:
df.columns=['Date','chat']

In [7]:
df

         Date                                               chat
1    24/11/25   7:24 pm - Vasthuparam created group "VASTHUPA...
2    24/11/25                    7:24 pm - Vasthuparam added you
3    24/11/25            7:25 pm - Vasthuparam added Kalaiarasan
4    24/11/25   7:25 pm - Vasthuparam turned on admin approva...
5    24/11/25   7:25 pm - Vasthuparam turned off admin approv...
..        ...                                                ...
563  06/02/26                           2:10 pm - Kavithajio: Hi
564  06/02/26             2:12 pm - Vasthuparam: <Media omitted>
565  06/02/26             2:12 pm - Vasthuparam: <Media omitted>
566  06/02/26   2:14 pm - Kavithajio: Ok.. small change as di...
567  06/02/26             4:51 pm - Vasthuparam: <Media omitted>

[567 rows x 2 columns]

In [8]:
message=df["chat"].str.split("-",n=1,expand=True)

In [9]:
message

             0                                                  1
1     7:24 pm             Vasthuparam created group "VASTHUPARAM"
2     7:24 pm                               Vasthuparam added you
3     7:25 pm                       Vasthuparam added Kalaiarasan
4     7:25 pm    Vasthuparam turned on admin approval to join ...
5     7:25 pm    Vasthuparam turned off admin approval to join...
..         ...                                                ...
563   2:10 pm                                      Kavithajio: Hi
564   2:12 pm                        Vasthuparam: <Media omitted>
565   2:12 pm                        Vasthuparam: <Media omitted>
566   2:14 pm          Kavithajio: Ok.. small change as discussed
567   4:51 pm                        Vasthuparam: <Media omitted>

[567 rows x 2 columns]

In [10]:
df["Time"]=message[0]

In [11]:
message1=message[1].str.split(":",n=1,expand=True)

In [12]:
message1

,0,1
1,"Vasthuparam created group ""VASTHUPARAM""",None
2,Vasthuparam added you,None
3,Vasthuparam added Kalaiarasan,None
4,Vasthuparam turned on admin approval to join ...,None
5,Vasthuparam turned off admin approval to join...,None
...,...,...
563,Kavithajio,Hi
564,Vasthuparam,<Media omitted>
565,Vasthuparam,<Media omitted>
566,Kavithajio,Ok.. small change as discussed
567,Vasthuparam,<Media omitted>

In [13]:
df["Name"]=message1[0]

In [14]:
df["chat"]=message1[1]

In [15]:
df=df[["Date","Time","Name","chat"]]

In [16]:
df

,Date,Time,Name,chat
1,24/11/25,7:24 pm,"Vasthuparam created group ""VASTHUPARAM""",None
2,24/11/25,7:24 pm,Vasthuparam added you,None
3,24/11/25,7:25 pm,Vasthuparam added Kalaiarasan,None
4,24/11/25,7:25 pm,Vasthuparam turned on admin approval to join ...,None
5,24/11/25,7:25 pm,Vasthuparam turned off admin approval to join...,None
...,...,...,...,...
563,06/02/26,2:10 pm,Kavithajio,Hi
564,06/02/26,2:12 pm,Vasthuparam,<Media omitted>
565,06/02/26,2:12 pm,Vasthuparam,<Media omitted>
566,06/02/26,2:14 pm,Kavithajio,Ok.. small change as discussed
567,06/02/26,4:51 pm,Vasthuparam,<Media omitted>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 1 to 567
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    567 non-null    object
 1   Time    183 non-null    object
 2   Name    183 non-null    object
 3   chat    173 non-null    object
dtypes: object(4)
memory usage: 17.8+ KB

In [18]:
#!pip install --upgrade pip

In [19]:
#%pip install --upgrade pip

In [20]:
#%pip install nltk

In [21]:
#!pip install vaderSentiment

In [22]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [23]:
dataset=df

In [24]:
dataset.dropna(inplace=True)

C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2639109627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.dropna(inplace=True)

In [25]:
sid = SentimentIntensityAnalyzer()

In [26]:
#senti = sid.polarity_scores(dataset['chat'][4]) 
#if 4 in df.index or 4 in df.columns:
    #value = df.loc[4]
#else:
   # print('key 4 not found.')
#value = df.get(4, default=None)
#df.reset_index(inplace=True)

In [27]:
def sentimentalAnalysis(data,columnname):
    #downloading vader_lexicon for the process
    import matplotlib.pyplot as plt
    import seaborn as sns 
    "Importing null or empty value"
    data.dropna(inplace=True)
    "Checking for a comment"
    #sid.polarity_scores(data[columnname][93])
    "Creating respective columns"
    data["scores"] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
    data["compound"] = data["scores"].apply(lambda score_dict: score_dict["compound"])
    data["Negative"] = data["scores"].apply(lambda score_dict: score_dict["neg"])
    data["Positive"] = data["scores"].apply(lambda score_dict: score_dict["pos"])
    data["Neutral"] = data["scores"].apply(lambda score_dict: score_dict["neu"])
    "Creating final pos or neg using compound score"
    data["comp_score"] = data["compound"].apply(lambda c: 'pos' if c >=0 else 'neg')
    plt.clf()
    #comp=sns.countplot(x = "comp_score", hue = 'Name', data = data, palette = 'magma')
    #comp.figure.savefig("date_charts.png")
    "Checking how many pos and neg"
    posneg=pd.DataFrame(data["comp_score"].value_counts())
    return posneg,data

In [28]:
pos,data_senti=sentimentalAnalysis(dataset,columnname='chat')

C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2126787704.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2126787704.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["scores"] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2126787704.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["compound"] = data["scores"].apply(lambda score_dict: score_dict["compound"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2126787704.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Negative"] = data["scores"].apply(lambda score_dict: score_dict["neg"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2126787704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Positive"] = data["scores"].apply(lambda score_dict: score_dict["pos"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2126787704.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Neutral"] = data["scores"].apply(lambda score_dict: score_dict["neu"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\2126787704.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["comp_score"] = data["compound"].apply(lambda c: 'pos' if c >=0 else 'neg')

In [29]:
data_senti

,Date,Time,Name,chat,scores,compound,Negative,Positive,Neutral,comp_score
9,24/11/25,7:47 pm,Vasthuparam,REGISTERED TODAY : 14,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
16,24/11/25,7:48 pm,Vasthuparam,Today report <This message was edited>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
17,25/11/25,1:05 pm,Vasthuparam,This message was deleted,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
18,25/11/25,8:04 pm,Vasthuparam,REGISTERED TODAY : 12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
25,25/11/25,8:05 pm,Vasthuparam,25-11-2025 Campaign report,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
...,...,...,...,...,...,...,...,...,...,...
563,06/02/26,2:10 pm,Kavithajio,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
564,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
565,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
566,06/02/26,2:14 pm,Kavithajio,Ok.. small change as discussed,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
567,06/02/26,4:51 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos

In [30]:
pos

            count
comp_score
pos           164
neg             9

In [31]:
#TOPIN MODELLING
#!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.10.0 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from scikit-learn) (3.6.0)

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [33]:
tfidf=TfidfVectorizer(max_df=0.95,min_df=2,stop_words='english')
dtm=tfidf.fit_transform(df["chat"])

In [34]:
from sklearn.base import BaseEstimator
from sklearn.decomposition._nmf import NMF
nmf_model=NMF(n_components=5,random_state=42)
W=nmf_model.fit_transform(dtm)
H=nmf_model.components_

In [36]:
W
H

array([[6.26232824e-02, 1.15172115e-01, 1.37977263e-01, 7.76307036e-02,
        1.44861431e-01, 1.83874577e-01, 1.15172116e-01, 1.15172118e-01,
        1.37977263e-01, 1.37977263e-01, 6.26232824e-02, 6.26232824e-02,
        6.40808012e-02, 8.01733634e-03, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.43954506e-04, 7.11275306e-03, 0.00000000e+00,
        0.00000000e+00, 9.95488075e-03, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 6.14773818e-03, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.67122755e+00, 8.01733634e-03, 9.58494141e-03, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.74776383e+00, 5.34514656e-02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.24227012e-02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        3.25310413e-03, 0.00000000e+00, 1.70299717e+00, 5.22089592e-03,
        3.42990203e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 5.22089592e-03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        7.24530692e-15, 0.00000000e+00, 0.00000000e+00, 1.64930642e-02,
        0.00000000e+00, 0.00000000e+00, 1.37769824e-02, 0.00000000e+00,
        1.72845073e+00, 0.00000000e+00, 0.00000000e+00, 6.91404398e-03],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.07532289e-01,
        0.00000000e+00, 2.82814124e-02, 1.69600772e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.01224888e-01, 1.92878561e+00,
        3.21048603e-09, 0.00000000e+00, 4.87293847e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.15172958e-02,
        0.00000000e+00, 2.17384712e-01, 1.63397602e-02, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.73642021e-09, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.62195497e-10, 0.00000000e+00,
        0.00000000e+00, 1.62324349e-07, 4.04649085e-08, 0.00000000e+00,
        1.35328611e-11, 7.13754618e-08, 0.00000000e+00, 0.00000000e+00,
        1.32561039e+00, 1.84009109e-07, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.32561039e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.93319689e-08, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 4.78495698e-09, 2.75419914e-09],
       [0.00000000e+00, 1.99507570e-02, 0.00000000e+00, 2.06736465e-02,
        0.00000000e+00, 0.00000000e+00, 1.99507445e-02, 1.99507260e-02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        3.35982338e-02, 6.90414382e-02, 1.23579913e-02, 7.93286280e-02,
        4.15520098e-02, 5.70313989e-03, 1.28970738e-02, 3.55944508e-02,
        3.76680095e-09, 2.37244787e-01, 0.00000000e+00, 7.93286280e-02,
        0.00000000e+00, 1.60190032e-02, 0.00000000e+00, 4.39242464e-02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.66106917e-01,
        0.00000000e+00, 6.90414382e-02, 4.18936677e-04, 1.54538571e+00,
        0.00000000e+00, 0.00000000e+00, 4.41994797e-03, 3.50597709e-01]])

In [38]:
for index,topic in enumerate(nmf_model.components_):
    results=([tfidf.get_feature_names_out()[i] for i in topic.argsort()[-10:]])
    print(results)

['07', '12', '13', '16', '14', '08', '10', '11', 'registered', 'today']
['20', 'days', 'check', 'margazhi', 'yesterday', '11', 'report', 'problem', 'campaign', 'started']
['okpa', 'today', 'sir', 'low', 'night', 'good', 'mam', 'thanks', 'pa', 'ok']
['11', 'yesterday', 'today', 'report', 'edited', 'low', 'deleted', 'message', 'media', 'omitted']
['days', 'ok', 'repeated', 'calls', 'margazhi', 'check', 'problem', 'low', 'yesterday', 'sir']

In [39]:
topic_results=nmf_model.transform(dtm)
df["Topic"]=topic_results.argmax(axis=1)

C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_30864\522180241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Topic"]=topic_results.argmax(axis=1)

In [41]:
df

,Date,Time,Name,chat,scores,compound,Negative,Positive,Neutral,comp_score,Topic
9,24/11/25,7:47 pm,Vasthuparam,REGISTERED TODAY : 14,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
16,24/11/25,7:48 pm,Vasthuparam,Today report <This message was edited>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
17,25/11/25,1:05 pm,Vasthuparam,This message was deleted,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4
18,25/11/25,8:04 pm,Vasthuparam,REGISTERED TODAY : 12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
25,25/11/25,8:05 pm,Vasthuparam,25-11-2025 Campaign report,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,1
...,...,...,...,...,...,...,...,...,...,...,...
563,06/02/26,2:10 pm,Kavithajio,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4
564,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3
565,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3
566,06/02/26,2:14 pm,Kavithajio,Ok.. small change as discussed,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,2
567,06/02/26,4:51 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3

In [40]:
df["Topic"].value_counts()

Topic
0    80
1    34
4    26
2    21
3    12
Name: count, dtype: int64

In [42]:
#Tfidf-LDA

In [43]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation

In [45]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df["chat"])

In [47]:
lda_model = LatentDirichletAllocation(n_components=2, random_state=42)
lda_topics = lda_model.fit_transform(tfidf_matrix)

In [49]:
feature_names = tfidf.get_feature_names_out()
for topic_idx, topic in enumerate(lda_model.components_):
    print(f"Topic{topic_idx}:")
    print(" ".join([feature_names[i] for i in topic.argsort()[:-5 - 1:-1]]))

Topic0:
started campaign ok media omitted
Topic1:
today registered yesterday 11 message

In [50]:
df

,Date,Time,Name,chat,scores,compound,Negative,Positive,Neutral,comp_score,Topic
9,24/11/25,7:47 pm,Vasthuparam,REGISTERED TODAY : 14,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
16,24/11/25,7:48 pm,Vasthuparam,Today report <This message was edited>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
17,25/11/25,1:05 pm,Vasthuparam,This message was deleted,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4
18,25/11/25,8:04 pm,Vasthuparam,REGISTERED TODAY : 12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
25,25/11/25,8:05 pm,Vasthuparam,25-11-2025 Campaign report,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,1
...,...,...,...,...,...,...,...,...,...,...,...
563,06/02/26,2:10 pm,Kavithajio,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4
564,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3
565,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3
566,06/02/26,2:14 pm,Kavithajio,Ok.. small change as discussed,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,2
567,06/02/26,4:51 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3

In [51]:
df["Topic"].value_counts()

Topic
0    80
1    34
4    26
2    21
3    12
Name: count, dtype: int64