In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("WhatsApp Chat with VASTHUPARAM.txt",header=None,on_bad_lines='skip',encoding='utf8')

In [3]:
df

,0,1,2,3
0,24/11/25,7:24 pm - Messages and calls are end-to-end e...,listen to,or share them. Learn more.
1,24/11/25,"7:24 pm - Vasthuparam created group ""VASTHUPA...",NaN,NaN
2,24/11/25,7:24 pm - Vasthuparam added you,NaN,NaN
3,24/11/25,7:25 pm - Vasthuparam added Kalaiarasan,NaN,NaN
4,24/11/25,7:25 pm - Vasthuparam turned on admin approva...,NaN,NaN
...,...,...,...,...
563,06/02/26,2:10 pm - Kavithajio: Hi,NaN,NaN
564,06/02/26,2:12 pm - Vasthuparam: <Media omitted>,NaN,NaN
565,06/02/26,2:12 pm - Vasthuparam: <Media omitted>,NaN,NaN
566,06/02/26,2:14 pm - Kavithajio: Ok.. small change as di...,NaN,NaN
567,06/02/26,4:51 pm - Vasthuparam: <Media omitted>,NaN,NaN

In [4]:
df=df.drop(index=0)

In [5]:
df=df.drop(columns=[2,3])

In [6]:
df.columns=['Date','chat']

In [7]:
df

         Date                                               chat
1    24/11/25   7:24 pm - Vasthuparam created group "VASTHUPA...
2    24/11/25                    7:24 pm - Vasthuparam added you
3    24/11/25            7:25 pm - Vasthuparam added Kalaiarasan
4    24/11/25   7:25 pm - Vasthuparam turned on admin approva...
5    24/11/25   7:25 pm - Vasthuparam turned off admin approv...
..        ...                                                ...
563  06/02/26                           2:10 pm - Kavithajio: Hi
564  06/02/26             2:12 pm - Vasthuparam: <Media omitted>
565  06/02/26             2:12 pm - Vasthuparam: <Media omitted>
566  06/02/26   2:14 pm - Kavithajio: Ok.. small change as di...
567  06/02/26             4:51 pm - Vasthuparam: <Media omitted>

[567 rows x 2 columns]

In [8]:
message=df["chat"].str.split("-",n=1,expand=True)

In [9]:
message

             0                                                  1
1     7:24 pm             Vasthuparam created group "VASTHUPARAM"
2     7:24 pm                               Vasthuparam added you
3     7:25 pm                       Vasthuparam added Kalaiarasan
4     7:25 pm    Vasthuparam turned on admin approval to join ...
5     7:25 pm    Vasthuparam turned off admin approval to join...
..         ...                                                ...
563   2:10 pm                                      Kavithajio: Hi
564   2:12 pm                        Vasthuparam: <Media omitted>
565   2:12 pm                        Vasthuparam: <Media omitted>
566   2:14 pm          Kavithajio: Ok.. small change as discussed
567   4:51 pm                        Vasthuparam: <Media omitted>

[567 rows x 2 columns]

In [10]:
df["Time"]=message[0]

In [11]:
message1=message[1].str.split(":",n=1,expand=True)

In [12]:
message1

,0,1
1,"Vasthuparam created group ""VASTHUPARAM""",None
2,Vasthuparam added you,None
3,Vasthuparam added Kalaiarasan,None
4,Vasthuparam turned on admin approval to join ...,None
5,Vasthuparam turned off admin approval to join...,None
...,...,...
563,Kavithajio,Hi
564,Vasthuparam,<Media omitted>
565,Vasthuparam,<Media omitted>
566,Kavithajio,Ok.. small change as discussed
567,Vasthuparam,<Media omitted>

In [13]:
df["Name"]=message1[0]

In [14]:
df["chat"]=message1[1]

In [15]:
df=df[["Date","Time","Name","chat"]]

In [16]:
df

,Date,Time,Name,chat
1,24/11/25,7:24 pm,"Vasthuparam created group ""VASTHUPARAM""",None
2,24/11/25,7:24 pm,Vasthuparam added you,None
3,24/11/25,7:25 pm,Vasthuparam added Kalaiarasan,None
4,24/11/25,7:25 pm,Vasthuparam turned on admin approval to join ...,None
5,24/11/25,7:25 pm,Vasthuparam turned off admin approval to join...,None
...,...,...,...,...
563,06/02/26,2:10 pm,Kavithajio,Hi
564,06/02/26,2:12 pm,Vasthuparam,<Media omitted>
565,06/02/26,2:12 pm,Vasthuparam,<Media omitted>
566,06/02/26,2:14 pm,Kavithajio,Ok.. small change as discussed
567,06/02/26,4:51 pm,Vasthuparam,<Media omitted>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 1 to 567
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    567 non-null    object
 1   Time    183 non-null    object
 2   Name    183 non-null    object
 3   chat    173 non-null    object
dtypes: object(4)
memory usage: 17.8+ KB

In [18]:
#!pip install --upgrade pip

In [19]:
#%pip install --upgrade pip

In [20]:
#%pip install nltk

In [21]:
#!pip install vaderSentiment

In [22]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [23]:
dataset=df

In [24]:
dataset.dropna(inplace=True)

C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2639109627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.dropna(inplace=True)

In [25]:
sid = SentimentIntensityAnalyzer()

In [28]:
#senti = sid.polarity_scores(dataset['chat'][4]) 
#if 4 in df.index or 4 in df.columns:
    #value = df.loc[4]
#else:
   # print('key 4 not found.')
#value = df.get(4, default=None)
#df.reset_index(inplace=True)

In [35]:
def sentimentalAnalysis(data,columnname):
    #downloading vader_lexicon for the process
    import matplotlib.pyplot as plt
    import seaborn as sns 
    "Importing null or empty value"
    data.dropna(inplace=True)
    "Checking for a comment"
    #sid.polarity_scores(data[columnname][93])
    "Creating respective columns"
    data["scores"] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
    data["compound"] = data["scores"].apply(lambda score_dict: score_dict["compound"])
    data["Negative"] = data["scores"].apply(lambda score_dict: score_dict["neg"])
    data["Positive"] = data["scores"].apply(lambda score_dict: score_dict["pos"])
    data["Neutral"] = data["scores"].apply(lambda score_dict: score_dict["neu"])
    "Creating final pos or neg using compound score"
    data["comp_score"] = data["compound"].apply(lambda c: 'pos' if c >=0 else 'neg')
    plt.clf()
    #comp=sns.countplot(x = "comp_score", hue = 'Name', data = data, palette = 'magma')
    #comp.figure.savefig("date_charts.png")
    "Checking how many pos and neg"
    posneg=pd.DataFrame(data["comp_score"].value_counts())
    return posneg,data

In [36]:
pos,data_senti=sentimentalAnalysis(dataset,columnname='chat')

C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2126787704.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2126787704.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["scores"] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2126787704.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["compound"] = data["scores"].apply(lambda score_dict: score_dict["compound"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2126787704.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Negative"] = data["scores"].apply(lambda score_dict: score_dict["neg"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2126787704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Positive"] = data["scores"].apply(lambda score_dict: score_dict["pos"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2126787704.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Neutral"] = data["scores"].apply(lambda score_dict: score_dict["neu"])
C:\Users\KAVITHA\AppData\Local\Temp\ipykernel_26496\2126787704.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["comp_score"] = data["compound"].apply(lambda c: 'pos' if c >=0 else 'neg')

In [37]:
data_senti

,Date,Time,Name,chat,scores,compound,Negative,Positive,Neutral,comp_score
9,24/11/25,7:47 pm,Vasthuparam,REGISTERED TODAY : 14,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
16,24/11/25,7:48 pm,Vasthuparam,Today report <This message was edited>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
17,25/11/25,1:05 pm,Vasthuparam,This message was deleted,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
18,25/11/25,8:04 pm,Vasthuparam,REGISTERED TODAY : 12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
25,25/11/25,8:05 pm,Vasthuparam,25-11-2025 Campaign report,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
...,...,...,...,...,...,...,...,...,...,...
563,06/02/26,2:10 pm,Kavithajio,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
564,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
565,06/02/26,2:12 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
566,06/02/26,2:14 pm,Kavithajio,Ok.. small change as discussed,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
567,06/02/26,4:51 pm,Vasthuparam,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos

In [38]:
pos

            count
comp_score
pos           164
neg             9