In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("WhatsApp Chat with VASTHUPARAM.txt",header=None,on_bad_lines='skip',encoding='utf8')

In [3]:
df

,0,1,2,3
0,24/11/25,7:24 pm - Messages and calls are end-to-end e...,listen to,or share them. Learn more.
1,24/11/25,"7:24 pm - Vasthuparam created group ""VASTHUPA...",NaN,NaN
2,24/11/25,7:24 pm - Vasthuparam added you,NaN,NaN
3,24/11/25,7:25 pm - Vasthuparam added Kalaiarasan,NaN,NaN
4,24/11/25,7:25 pm - Vasthuparam turned on admin approva...,NaN,NaN
...,...,...,...,...
563,06/02/26,2:10 pm - Kavithajio: Hi,NaN,NaN
564,06/02/26,2:12 pm - Vasthuparam: <Media omitted>,NaN,NaN
565,06/02/26,2:12 pm - Vasthuparam: <Media omitted>,NaN,NaN
566,06/02/26,2:14 pm - Kavithajio: Ok.. small change as di...,NaN,NaN
567,06/02/26,4:51 pm - Vasthuparam: <Media omitted>,NaN,NaN

In [4]:
df=df.drop(index=0)

In [5]:
df=df.drop(columns=[2,3])

In [6]:
df.columns=['Date','chat']

In [7]:
df

         Date                                               chat
1    24/11/25   7:24 pm - Vasthuparam created group "VASTHUPA...
2    24/11/25                    7:24 pm - Vasthuparam added you
3    24/11/25            7:25 pm - Vasthuparam added Kalaiarasan
4    24/11/25   7:25 pm - Vasthuparam turned on admin approva...
5    24/11/25   7:25 pm - Vasthuparam turned off admin approv...
..        ...                                                ...
563  06/02/26                           2:10 pm - Kavithajio: Hi
564  06/02/26             2:12 pm - Vasthuparam: <Media omitted>
565  06/02/26             2:12 pm - Vasthuparam: <Media omitted>
566  06/02/26   2:14 pm - Kavithajio: Ok.. small change as di...
567  06/02/26             4:51 pm - Vasthuparam: <Media omitted>

[567 rows x 2 columns]

In [8]:
message=df["chat"].str.split("-",n=1,expand=True)

In [9]:
message

             0                                                  1
1     7:24 pm             Vasthuparam created group "VASTHUPARAM"
2     7:24 pm                               Vasthuparam added you
3     7:25 pm                       Vasthuparam added Kalaiarasan
4     7:25 pm    Vasthuparam turned on admin approval to join ...
5     7:25 pm    Vasthuparam turned off admin approval to join...
..         ...                                                ...
563   2:10 pm                                      Kavithajio: Hi
564   2:12 pm                        Vasthuparam: <Media omitted>
565   2:12 pm                        Vasthuparam: <Media omitted>
566   2:14 pm          Kavithajio: Ok.. small change as discussed
567   4:51 pm                        Vasthuparam: <Media omitted>

[567 rows x 2 columns]

In [10]:
df["Time"]=message[0]

In [11]:
message1=message[1].str.split(":",n=1,expand=True)

In [12]:
message1

,0,1
1,"Vasthuparam created group ""VASTHUPARAM""",None
2,Vasthuparam added you,None
3,Vasthuparam added Kalaiarasan,None
4,Vasthuparam turned on admin approval to join ...,None
5,Vasthuparam turned off admin approval to join...,None
...,...,...
563,Kavithajio,Hi
564,Vasthuparam,<Media omitted>
565,Vasthuparam,<Media omitted>
566,Kavithajio,Ok.. small change as discussed
567,Vasthuparam,<Media omitted>

In [13]:
df["Name"]=message1[0]

In [14]:
df["chat"]=message1[1]

In [15]:
df=df[["Date","Time","Name","chat"]]

In [16]:
df

,Date,Time,Name,chat
1,24/11/25,7:24 pm,"Vasthuparam created group ""VASTHUPARAM""",None
2,24/11/25,7:24 pm,Vasthuparam added you,None
3,24/11/25,7:25 pm,Vasthuparam added Kalaiarasan,None
4,24/11/25,7:25 pm,Vasthuparam turned on admin approval to join ...,None
5,24/11/25,7:25 pm,Vasthuparam turned off admin approval to join...,None
...,...,...,...,...
563,06/02/26,2:10 pm,Kavithajio,Hi
564,06/02/26,2:12 pm,Vasthuparam,<Media omitted>
565,06/02/26,2:12 pm,Vasthuparam,<Media omitted>
566,06/02/26,2:14 pm,Kavithajio,Ok.. small change as discussed
567,06/02/26,4:51 pm,Vasthuparam,<Media omitted>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 1 to 567
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    567 non-null    object
 1   Time    183 non-null    object
 2   Name    183 non-null    object
 3   chat    173 non-null    object
dtypes: object(4)
memory usage: 17.8+ KB

In [18]:
#!pip install --upgrade pip

In [19]:
#%pip install --upgrade pip

In [20]:
%pip install nltk

Requirement already satisfied: nltk in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (3.9.2)
Requirement already satisfied: click in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from nltk) (8.3.1)
Requirement already satisfied: joblib in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from nltk) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from nltk) (2026.1.15)
Requirement already satisfied: tqdm in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from nltk) (4.67.3)
Requirement already satisfied: colorama in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [21]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (3.3.2)
Requirement already satisfied: requests in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from vaderSentiment) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from requests->vaderSentiment) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from requests->vaderSentiment) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from requests->vaderSentiment) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages (from requests->vaderSentiment) (2026.1.4)

In [22]:
from nltk.sentiment.vader import SentimentIntensityAnalyser
import nltk
nltk.download('vader_lexion')

ImportError: cannot import name 'SentimentIntensityAnalyser' from 'nltk.sentiment.vader' (C:\Users\KAVITHA\anaconda3\envs\ainlp\Lib\site-packages\nltk\sentiment\vader.py)

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyser
sia = SentimentIntensityAnalyser()
text = 'ok'
scores = sia.polarity_scores(text))
print(scores)